body {background:rgb(243, 215, 243);
height: 100vh;
 ;}
h1,h3,a {color:rgb(10, 40, 209);
text-align:center
;}
div {

    width:70% ;
    height: 80% ;
    margin: auto ;    
    background:rgb(241, 238, 241);
    
}
p{ text-align: center;}
img{
    margin-left: 30%;
width: 350px;
}

